# Identity and Signing
[user]
	name = {{ .signingName }}
	email = {{ .signingEmail }}
	signingKey = {{ .signingKey }}
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = "{{ .chezmoi.homeDir | replace "\\" "/" }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}
	allowedSignersFile = "{{ .chezmoi.homeDir }}/.ssh/allowed_signers"

# Git LFS (Large File Support)
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

# Preferences
[init]
	defaultBranch = main
[pull]
	rebase = false
